body
  background: black
  color: white

.game
  position: relative
  width: 100%
  min-height: 500px 
  text-align: center
  display: flex
  justify-content: center
  margin: 0 auto
  display: block

#background_img
    position: absolute 
    height: 100%
    padding: 60px
    left: 50%
    transform: translateX(-50%)
    z-index: -1
    filter: brightness(40%)
    display: none

#counter
  font-size: 40px
  padding: 20px

#btn
  width: 200px
  height: 120px
  font-size: 35px
  border-radius: 40px
  cursor: pointer
  background: #3299a8
  border: 1px solid white

.upgrades
  display: flex
  align-items: center
  flex-flow: column

#up_clicks
  padding: 20px
  margin: 15px
  font-size: 20px
  border-radius: 10px
  cursor: pointer
  background: #a83253
  width: 250px
  border: 1px solid white

#buy_all
  width: 200px
  margin-bottom: 10px
  font-size: 15px
  padding: 10px
  background: #a83253
  border: 1px solid white

.statics
  font-size: 20px
